---
import ContentLayout from "@/layouts/content.astro";
import BaseLayout from "@/layouts/base.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("views", "about");

if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<BaseLayout entry={entry}>
  <ContentLayout>
    <div>
      <h1 class="title-prueba">Sobre nosotros</h1>
    </div><br />
    <img
      src="/src/assets/images/test.png"
      alt="PageSpeed Insights result"
      class="rounded-lg shadow-xl my-6"
    />

    <Content />
  </ContentLayout>
</BaseLayout>
